name: Build Wheels

on:
  push:
    tags:
      - '*'

jobs:
  build_wheels:
    name: Build pure Python wheel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install build dependencies
        run: python -m pip install build

      - name: Build package
        run: python -m build

      - uses: actions/upload-artifact@v4
        with:
          name: pypi-dist
          path: dist/*

  upload_pypi:
    needs: [build_wheels]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    # Upload to PyPI on new tag
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: pypi-dist
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
